.buttonsContainer {
}

.responseContainer {
    display: flex;

}

.imageContainer {

}

.image {

}

.textContainer{
    padding: 60px;
}

.code {

    font-size: 50px;
    font-weight: 600;
}

.text {
}
.info {
}