.button {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.disabled {

}

.secondary {
    position: relative;
    background-color: transparent;
    background-size: 200% auto;
    border: 2px solid #0066CC;
    color: #0066CC;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    transition: .5s;
}

.default {
    background-color: #0066CC;
    color: #FFF;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

.red {
    background-color: #f10000;
    color: #FFF;
}

.default:hover {
    color: #f8cb11;
    background-color: #006DDB;
    box-shadow: 0px 15px 20px rgba(140, 243, 202, 0.4);
    transform: translateY(-4px);
}

.red:hover {
    background-color: transparent;
    color: #F137A6;
    box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
}

.secondary:hover {
    color: #0066CC;
    background-color: #E5F0FA;
    box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
    transform: translateY(-4px);
}

.default:active {
    top: 2px;
}

.secondary:active {
    top: 2px;
    background-color: #006DDB;
}

.red:active {
    border-radius: 50px;
    box-shadow: 0 0 10px 0 #0066CC inset, 0 0 10px 4px #0066CC;
    color: #0066CC;
}

.button:disabled {
    cursor: auto;
    background-color: #7DA3C8;
    color: #7A90A6;
}